---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`CTF | ${SITE.title}`}>
  <Header activeNav="ctf" />
  <Main pageTitle="CTF" pageDesc="A propos de l'équipe de CTF.">
    <p>Avec un groupe d'amis de l'université ayant la même passion que moi, nous nous sommes rassemblés et avons décidé de monter notre propre équipe de CTF (capture de drapeau en bon français).</p>
  </Main>
  <Footer />
</Layout>

<style>

</style>
