---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`CTF | ${SITE.title}`}>
  <Header activeNav="ctf" />
  <Main pageTitle="CTF" pageDesc="About CTF team">
    <p>With a group of fiends from university sharing the same passion for cybersecurity, we decided to create our own CTF team.</p>
    <br />
    <p>You can find us on <a href="https://ctftime.org/team/274035">CTF Time</a> and <a href="https://www.majorleaguecyber.org/teams/systemctf">Major League Cyber</a>.</p>
  </Main>
  <Footer />
</Layout>

<style>
  a {
    @apply font-bold underline hover:text-skin-accent;
  }
</style>
